.User {
  position: relative;
  .header {
    position: relative;
    min-height: 500px;
    margin: 2rem 3rem;

    // display: flex;
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 1;
      background: #000;
      color: #fff;
      margin: 2rem 0;
      padding: 4rem;
      text-transform: uppercase;
      width: 80%;
      h1 {
        font-size: 8rem;
        margin: 0;
      }
    }

    .userType {
      font-size: 1.2rem;
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .userInfo {
    position: static;
    padding: 4rem;
    margin-bottom: 4rem;
    background: #f5f5f5;

    .tags {
      display: flex;
      margin-bottom: 1rem;

      > svg {
        width: 3rem;
        margin-right: 10px;
      }
    }

    .classes {
      display: flex;
      margin: 1rem 0;
    }
  }
}
