.Sidebar {
  top: 0;
  position: sticky;
  background-color: #ffeb78;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 250px;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;

  a.section {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    transition: background-color 200ms ease;
    text-transform: uppercase;
    color: black;
    display: block;

    &:hover {
      background-color: rgba(231, 207, 67, 1);
    }

    &.active {
      background: rgb(237, 219, 115);
      background: linear-gradient(
        90deg,
        rgba(237, 219, 115, 1) 0%,
        rgba(231, 207, 67, 1) 100%
      );
    }

    h3 {
      margin: 0;
    }
  }

  .home {
    margin-top: auto;
    margin-bottom: 0;
    padding: 0.8rem 1.5rem;
  }
}
