.Signups {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: var(--main-gold-color);

  .main {
    padding: 3rem;
  }

  form {
    background: #fff;
    // border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    section {
      border-bottom: 1px solid rgb(230, 230, 230);
      .header {
        padding: 1.2rem 3rem;
        font-size: 1.5rem;
        background-color: rgb(250, 250, 250);
        display: flex;
        h3 {
          margin: 0;
        }
        .status {
          margin-left: auto;
          margin-right: 0;
        }
      }
      .body {
        overflow: hidden;
        opacity: 1;
        transition: all 600ms ease;
        display: block;
        max-height: 1000px;

        &.closed {
          max-height: 0;
          opacity: 0;
        }

        .content {
          margin: 2rem 3rem;

          input {
            max-width: 100%;
          }

          .invalid + input,
          .invalid + textarea,
          .invalid + select {
            border-color: red;
          }
        }

        .strategies {
          button {
            display: inline-block;
            &:nth-of-type(1) {
              margin-right: 10px;
            }
            &:nth-of-type(2) {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .panel {
    min-height: 100vh;
    padding: 3rem;
    box-sizing: border-box;
  }
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
