.Sessions {
  padding: 2rem 4rem;
}

.sessions_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

.attended {
  margin: 0 10px;
  color: red;
  &.true {
    color: green;
  }
}

.unconfirmed {
  color: var(--main-gold-color);
}

.description {
  margin-top: 10px;
}
