@import "../../../../styles/sizes";

.Landing {
  height: 100vh;
  .overlay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .front {
      box-sizing: border-box;
      width: 100%;
      padding: 0 7%;
      @include lg {
        display: grid;
        grid-template-columns: 65% 35%;
      }
      h1 {
        font-size: 10vw;
        letter-spacing: -2px;
        color: #fff;
        text-shadow: 5px 5px var(--secondary-gold-color);
        font-weight: 300;
        margin: 0;
        padding-bottom: 0px;
        span {
          border-bottom: 8px solid var(--main-gold-color);
        }
        img {
          height: 25%;
        }
      }
      .description {
        box-sizing: border-box;
        display: inline-block;
        padding: 0 5%;
        font-size: 1.5em;
        color: #fff;
        animation: slideup 1.5s ease;
      }
      .signUp {
        box-sizing: border-box;
        display: inline-block;
        border-radius: 10px;
        width: 100%;
        padding: 10%;
        background-color: #fff;
        box-shadow: 3px 3px var(--secondary-gold-color);
        transition: transform 300ms cubic-bezier(0.25, 0.25, 0.05, 1.65);
        &:hover {
          transform: scale(1.1);
        }
        h2 {
          font-size: 2.5rem;
          margin: 10px;
          text-align: center;
          text-shadow: 2px 2px var(--main-gold-color);
        }
        button {
          width: 100%;
          margin: 20px 0;
        }
      }
    }
  }
  .bookFlipping {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
  }
  .scrollprompt {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    transition: transform 300ms;
    p {
      margin-bottom: 10px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
