@import "variables";

.Class {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 3rem;
  padding: 2rem 4rem;

  h1,
  .name {
    text-shadow: 2px 2px var(--main-gold-color);
  }

  .name {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding: 0.5rem $text-padding;
    margin-right: $text-padding;
    max-width: 100%;
  }

  .edit {
    display: flex;
    justify-content: flex-end;
    margin: 10px $text-padding 10px auto;

    button {
      padding: 10px 15px;
      margin: 0 0 0 10px;
    }
  }

  .padding {
    margin: 20px $text-padding;
  }

  .date {
    margin: 20px $text-padding;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ecc100;
  }

  img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .column {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 1rem $text-padding;
    }
  }

  .flex {
    display: flex;
    align-items: center;
  }
}

.section {
  background-color: #f7f7f7;
  margin: 10px 0;
  box-shadow: 3px 3px 0px rgba(212, 209, 21, 0.05);
  // box-sizing: border-box;

  h3 {
    margin: 1rem $text-padding;
    display: flex;
    svg {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
