@import "variables";
@import "../../styles/sizes";

.Class {
  background-image: url(../../media/geometry.png);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  padding: 1rem 2rem;
  height: 100%;
  box-sizing: border-box;

  @include md {
    grid-template-columns: 3fr 1fr;
    padding: 2rem 4rem;
  }

  h1,
  .name {
    text-shadow: 2px 2px var(--main-gold-color);
  }

  .name {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding: 0.5rem $text-padding;
    margin-right: $text-padding;
    max-width: 100%;
  }

  .edit {
    display: flex;
    justify-content: flex-end;
    margin: 10px $text-padding 10px auto;

    button {
      margin: 0 0 0 10px;
    }
  }

  .date {
    margin: 20px $text-padding;
    font-weight: 400;
    font-size: 1.5rem;
  }

  img.cover {
    max-height: 300px;
    object-fit: cover;
  }

  .column {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 1rem $text-padding;
    }
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .videoLink {
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem $text-padding;
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    &:hover {
      background-color: rgb(238, 238, 238);
    }
  }

  .attendanceBtn {
    width: 100%;
  }
}

.padding {
  margin: 10px $text-padding !important;
}

.section {
  .username {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
  }

  .behaviour {
    display: flex;
  }

  button {
    margin: 0;
  }

  .userButtons {
    display: flex;
    margin-left: auto;
    margin-right: 0;

    .draghandle {
      margin: 10px 15px;
    }
  }

  .addReason {
    cursor: pointer;
    opacity: 0;
    margin: 10px;
    font-size: 1rem;
    font-weight: normal;
    color: #555;
    transition: opacity 300ms;
    > svg {
      margin-left: 10px;
    }
  }

  &:hover .addReason {
    opacity: 0.9;
  }
}

.autocomplete {
  position: relative;
}

.suggestions {
  position: absolute;
  z-index: 2;
  width: 100%;
  color: black;
  .suggestion {
    .userName {
      font-weight: bold;
    }
    cursor: pointer;
    width: 100%;
    margin-top: -5px;
    box-sizing: border-box;
    background: #fff;
    padding: 0.5rem;
    &:hover {
      background: #eee;
    }
  }
}

.requestResponse {
  display: flex;
  > button {
    margin-right: 1rem;
  }
}
