@import "variables";

.Dashboard {
  display: flex;

  h1 {
    font-size: 3rem;
    margin: 1rem $text-padding;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  .content {
    width: 100%;
  }
}
