@import "../../../../styles/sizes";

.person .body {
  display: flex;
  flex-direction: column;
  p {
    &:first-of-type {
      margin-top: 0;
    }
  }
  img {
    box-shadow: 3px 3px var(--main-gold-color);
    align-self: start;
    margin-bottom: 1em;
  }
}

@include md {
  .person {
    .body {
      flex-direction: row;
    }
    &:nth-of-type(odd) .body .description {
      margin-left: 1em;
    }
    &:nth-of-type(even) .body .description {
      order: -1;
      margin-right: 1em;
    }
  }
}
