.Attendance {
  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid #ccc;
    padding: 10px;
  }

  th,
  td {
    background-color: #fff;
    width: 50px;
  }
}

th.rotate {
  white-space: nowrap;
  height: 140px;
  > div {
    transform: translate(50px, 40px) rotate(-45deg);
    width: 50px;
    a,
    span {
      max-width: 50px;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
  }
}
