.btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px 40px;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  background-color: var(--main-gold-color);
  border-radius: 5px;
  box-shadow: 1px 1px var(--secondary-gold-color),
    2px 2px var(--secondary-gold-color), 3px 3px var(--secondary-gold-color);
  color: #000;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  margin: 10px 0;
  &:hover {
    box-shadow: 2px 2px var(--secondary-gold-color);
    top: 1px;
    left: 1px;
  }
  &:active {
    box-shadow: none;
    top: 3px;
    left: 3px;
  }
  &.secondary {
    background: #fff;
    box-shadow: none;
    position: static;
    transition: all 300ms;
    &:hover {
      background: #eee;
    }
  }
}
