@import "../../../../variables";

.ClassSection {
  background: black;
  height: 300px;
  position: relative;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  a {
    display: flex;
    align-items: flex-end;

    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(81, 77, 59, 0) 35%, #000000 100%);
  }

  h2 {
    color: #fff;
    margin: 1rem $text-padding !important;
  }
}
