.Chats {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
  box-sizing: border-box;

  $gold: #ffda0a;

  ::-webkit-scrollbar {
    background: rgba($gold, 0.2);
    height: 4px;
    width: 8px;

    &:disabled {
      background: transparent;
    }
  }

  ::-webkit-scrollbar-track {
    height: 20px;
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba($gold, 0.6);
    border-radius: 20px;

    &:hover {
      background: rgba($gold, 0.75);
    }

    &:active {
      background: rgba($gold, 0.9);
    }
  }

  .chatList {
    overflow-y: auto;
    margin: 0 1rem;

    h4 {
      font-size: 1.7rem;
      margin: 10px 0;
    }
    p {
      margin: 10px 0;
    }

    .chatName {
      display: block;
      margin: 0.5rem 0;

      button {
        text-align: left;
        width: 100%;
      }

      &.active button {
        background: linear-gradient(
          to right,
          rgba(230, 230, 230, 1) 0%,
          rgba(240, 240, 240, 1) 100%
        );
      }
    }
  }
  .Chat {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      padding: 0 1rem;
      color: #fff;
      background-color: #000;

      h2 {
        margin: 1rem 0;
      }
      .usersToggle {
        margin-left: auto;
      }
    }

    .scrollDown {
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 1;
      display: none;
      &.showDown {
        display: block;
      }
    }

    .messageField {
      display: flex;
      input {
        margin: 10px 0;
        max-width: 100%;
        margin-right: 10px;
      }
    }
  }

  .noselection {
    background: rgb(240, 240, 240);
    padding: 2rem;
    h2 {
      margin-bottom: 2rem;
    }
  }
}
