{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "nullishCoalescing": true,
      "optionalChaining": true
    },
    "target": "es2018"
  },
  "module": {
    "type": "commonjs"
  }
}
