name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  ci:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo

    defaults:
      run:
        working-directory: ./api

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Build application
        run: npm run build --if-present
      - name: Test application
        env:
          NODE_ENV: test
          TEST_URI: mongodb://127.0.0.1:27017/academetest
          JWT_SECRET: test
          FRONTEND_DOMAIN: http://localhost
        run: npm test
      - name: Dockerhub login
        run: docker login -u ${{secrets.DOCKER_USER}} -p ${{secrets.DOCKER_ACCESS_TOKEN}}
      - name: Build the Docker image
        run: docker build -t ${{secrets.DOCKER_USER}}/academe .
      - name: Push image to Dockerhub
        run: docker push ${{secrets.DOCKER_USER}}/academe
