name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo

    defaults:
      run:
        working-directory: ./api

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14"
      - name: Install dependencies
        run: npm ci
      - name: Build application
        run: npm run build --if-present
      - name: Test application
        env:
          NODE_ENV: test
          TEST_URI: mongodb://127.0.0.1:27017/academetest
          JWT_SECRET: test
        run: npm test
