.MessageWrapper {
  overflow-y: hidden;
  flex-grow: 1;
}
.MessageContent {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;

  background: linear-gradient(
    to right,
    rgb(240, 240, 240) 0%,
    rgb(247, 247, 247) 100%
  );
}

.MessageGroup {
  padding: 1rem 2rem;

  .Message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &.me {
      align-self: flex-end;
      align-items: flex-end;

      .text {
        background: var(--main-gold-color);
      }
    }
    .header {
      .author {
        font-weight: 800;
      }
      .time {
        color: #222;
        margin-left: 20px;
        font-weight: normal;
      }
    }
    .text {
      margin: 5px 0;
      padding: 10px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    }
    .retry {
      cursor: pointer;
      &:hover {
        color: darkred;
      }
    }
  }

  .SessionUpdates {
    background: #fff;
    padding: 10px;
    margin: 10px 0;
  }

  .date {
    font-weight: normal;
    width: 100%;
    text-align: center;
  }
}

.NoMessages {
  text-align: center;
}
